    {% extends 'base.html' %}

    {% block conteudo %}
<div class="body">
    <div>
        <h1>Entre em contato</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet mollis nisl.</p>

    </div>
    <div>
        <hr>
    </div>
    <div>
        <form>
            Seu e-mail:<br>
            <input type="text"><br>
            Assunto:<br>
            <input type="text"><br>
            Descrição:<br>
            <input type="text"><br>
            <button type="submit">enviar</button>
        </form>

    </div>

    <div>
        <h4>Todos os direitos resevados</h4>
    </div>
</div>>
    {% endblock %}
