    {% extends 'base.html' %}

    {% block conteudo %}
    <div class="body">
        <div>
            <div>
                <h1>Quem somos</h1>
                <p>Lorem ipsum dolor sit amet, consecteturelit. Suspendisse sit amet mollis nisl. Aliquam sit ament diam ac quam dignissim lobortis vel ac sapien ament. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus vitae risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum Lectus sed augue viverra ultrices ac nec lectrus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.</p>
                <h1>5 motivo para estudar</h1>
                <ol>
                    <li>Material semrpe atualizado</li>
                    <li>Tablets em sala de aula</li>
                    <li>Professores renomados</li>
                    <li>Unisidade bem avaliada</li>
                    <li>Otima localização</li>
                </ol>
           
            </div>



        </div>
        <div>
            <h1>Obejtivos</h1>
            <p>Lorem ipsum dolor sit amet, consecteturelit. Suspendisse sit amet mollis nisl. Aliquam sit ament diam ac quam dignissim lobortis vel ac sapien ament. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus vitae risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum Lectus sed augue viverra ultrices ac nec lectrus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.</p>
            <h4>todos os direitos resevados</h4>
        </div>
    </div>
    {% endblock %}